body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(butterfly_falls.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #5D1B00;
}


.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  
}

.btn-primary {
  background-color: #CF460F;
  border-color: #CF460F;
  
}

.btn-primary:hover {
  background-color: #892700;
  border-color: #892700;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;

}

.buffer {
  height: 5rem;
}

hr {
  border-color: #CF460F;
  border-width: 3px;
  max-width: 65px;
 
}